<form class="signup-btn">
    <div class="news_input">
      <label for="email"
        >Get our lattest news and don't miss out soe important deals!!!Enter your email to register for our newsletters.
    </label>
      <input
        type="email"
        name="email"
        id="email"
        placeholder="Enter your email here!" required
      />
    </div>
    <div class="news_actions">
        <button class="signUpNews">Submit</button>
      </div>
      <form action=""></form>
    

&copy;NOT a real business
